html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/************NAVBAR***************/
.navbar-fixed {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 5px;
}

.company-name {
    font-size: 40px;
    color: orange;
}

.company-name:hover {
    text-decoration: none;
    color: rgb(97, 125, 138);
}

.fa-bed {
    color: rgb(97, 125, 138);
    padding-right: 5px;
    padding-left: 20px;
}

nav ul li a {
    color: #595959;
    padding-right: 20px;
}

nav ul li a:hover {
    text-decoration: none;
    background: none;
}

.fa-bars {
    color: orange;
}

.hidden-nav .sidenav {
    width: 200px;
    height: 250px;
    background: white;
}

.hidden-nav .sidenav a {
    font-size: 2em;
    color: orange;
}
.sidenav-close i {
    padding-top: 55px;
    padding-left: 130px;
}

.btn {
    padding: 4px;
    background-color: orange;
}

.btn:hover {
    background-color: rgb(55, 71, 79);
}


/************SLIDER & OVERLAY***************/

.vertical-center {
    min-height: 100%;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 779;
    top: 20px;
    width: 100%;
}

#input-form {
    border-radius: 15px 15px 15px 15px;
    padding: 30px;
    text-align: center;
    background-color: rgba(237, 237, 237, 0.5);
    background-color: hsla(0, 0%, 93%, 0.5);
}

#input-form h2 {
    padding-bottom: 10px;
    color: #fb8c00;
}

.form-group.formtwo {
    display: flex;
    justify-content: space-around;
}

.form-group.formthree {
    width: 70px;
    margin: 0 auto;
}

#btn-submit {
    margin-top: 10px;
    margin-right: 20px;
}

#btn-reset {
    margin-top: 10px;
}

#dates {
    margin-bottom: 0;
    flex-basis: 30%;
    margin-left: 40px;
    margin-right: 40px;
}

#input-form label {
    color: black;
    font-size: 1em;
}

#input-form .formone input,
#input-form .formtwo input {
    padding-left: 15px;
}

/**********RESULTS/MAP SECTION**********/

.results-container {
    display: flex;
    justify-content: center;
    /* height: auto; */
    width: 100%;
}

.results-container .row {
    display: flex;
    padding: 20px;
    min-height: 90vh;
    width: 90%;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2),
    -30px 0px 40px rgba(0, 0, 0, 0.2);
}

#dataresults {
    overflow:scroll;
    overflow-x:hidden;
}


#dataresults,
#map {
    margin: 0 auto;
    width: 600px;
    height: 90%;
}


/**********ABOUT-CONTACT SECTION**********/

.section-designers,
.section-contact {
    padding:  60px 0 40px 0;
    min-height: 75%;
}

.section-designers img {
    width: 100%;
    height: 100%;
}

.section-designers .container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 70%;
    padding: 20px;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2),
    -30px 0px 40px rgba(0, 0, 0, 0.2);
}

.section-designers .fa-4x {
    margin: 5px auto;
    font-size: 3em;
    color: #546e7a
}

.section-designers .mf .fa-4x {
    padding-top: 15px;
    margin-left: 10px;
}

.section-contact form {
    width: 40%;
    margin: 0 auto;
}

/************MISC***************/

.results-bar,
.designers-bar,
.contact-bar {
    height: 90px;
    padding-top: 30px;
}

.footer-text{
    font-size: 1.2em;
    padding-top: 10px;
}


/****************MEDIA QUERIES***************/
/*min-width: 375, 480, 768, 1024, 1200, 1600*/


@media screen and (max-width: 400px){ 
    .section-designers .card-panel {
        max-width: 300px;
        margin-top: 0;
    }

    .results-container {
        height: 120vh;
    }

    .results-box {
        font-size: x-small;
    }

    #map {
        height: 40vh;
    }

}