html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar-fixed {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 5px;
}

.company-name {
    font-size: 40px;
    color: orange;
}

.company-name:hover {
    text-decoration: none;
    color: rgb(97, 125, 138);
}

.fa-bed {
    color: rgb(97, 125, 138);
    padding-right: 5px;
}

nav ul li a {
    color: #595959;
    padding-right: 20px;
}

nav ul li a:hover {
    text-decoration: none;
    background: none;
}

.fa-bars {
    color: orange;
}

.hidden-nav .sidenav {
    width: 300px;
    background: white;
}

.hidden-nav .sidenav a {
    font-size: 2em;
    color: orange;
}

.btn {
    padding: 4px;
    background-color: orange;
}

.btn:hover {
    background-color: rgb(55, 71, 79);
}


/************CALLOUT***************/

.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
  }
  
  #input-form {
    border-radius: 15px 15px 15px 15px;
    padding: 30px;
    text-align: center;
    background-color: rgba(237, 237, 237, 0.5);
    background-color: hsla(0, 0%, 93%, 0.5);
    width: 700px;
  }
  
  #carousel-img {
    height: 100vh;
    width: 100%;
  }

/* .callout-container {
    min-height: calc(80vh);
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
} */

/* .callout-header {
    font-size: 20px;
    color: #fb8c00;
    font-weight: 700;
    margin: 0 auto;
    width: 100%;
    padding: 0 0 20px 0;
} */

/* .callout input.iput {
    height: 1.2rem;
    font-size: 12px;
} */

.input-field iput {
    border-radius: 20%;
    padding: 5px;
}

/************CALLOUT END***************/

.map-container {
    width: 500px;
    height: 500px;
    display: flex;
}
.map-card {
    width: 450px;
    height: 450px;
    padding: 2px;
    display: flex;
}

.section-contact {
    width: 100%;
    margin: 5px 10px;
    padding: 0;
}

.section-icons .fa-4x {
    margin: 10px 5px;
    font-size: 2em;
    color: orange;
}

.section-follow,
.section-results {
    height: 80px;
}

.materialboxed {
    display: inline-block;
}

.section-icons img {
    width: 140px;
    height: 140px;
}

.section-contact {
    margin: 0 auto;
    width: 40%;
}

#top span {
    position: absolute;
    top: 0;
    left: 0;
}

#map {
    height: 100%;
}

/*********************MEDIA QUERIES********************/


 @media screen and (min-width: 360px){ 

    /* .callout input.iput {
        height: 1.8rem;
        font-size: 15px;
    }

    .btn {
        padding: 8px;
    } */

    .company-name {
        display: inline-block;
        margin-left: 40px;
    }
}

@media screen and (min-width: 720px){ 

    /* .callout-container h3 {
        font-size: 40px;
    } */
 
    /* .callout input.iput {
     height: 1.8rem;
     font-size: 15px;
 }
     .btn {
         padding: 8px;
     } */
 }

 @media only screen and (min-width: 993px) {

    .hidden-nav a.sidenav-close {
     display: block;
    }
}


 @media screen and (min-width: 1200px){ 

    /* .callout-container h3 {
        font-size: 60px;
    } */
 
    /* .callout input.iput {
        height: 3rem;
        font-size: 18px;
 }
    .btn {
        padding: 8px;
    } */
 }