html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


/************NAVBAR***************/
.navbar-fixed {
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 5px;
}

.company-name {
    font-size: 40px;
    color: orange;
}

.company-name:hover {
    text-decoration: none;
    color: rgb(97, 125, 138);
}

.fa-bed {
    color: rgb(97, 125, 138);
    padding-right: 5px;
}

nav ul li a {
    color: #595959;
    padding-right: 20px;
}

nav ul li a:hover {
    text-decoration: none;
    background: none;
}

.fa-bars {
    color: orange;
}

.hidden-nav .sidenav {
    width: 300px;
    background: white;
}

.hidden-nav .sidenav a {
    font-size: 2em;
    color: orange;
}

.btn {
    padding: 4px;
    background-color: orange;
}

.btn:hover {
    background-color: rgb(55, 71, 79);
}


/************SLIDER & OVERLAY***************/

.vertical-center {
    min-height: 100%;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 779;
    top: 50px;
    width: 100%;
}

#input-form {
    border-radius: 15px 15px 15px 15px;
    padding: 30px;
    text-align: center;
    background-color: rgba(237, 237, 237, 0.5);
    background-color: hsla(0, 0%, 93%, 0.5);
}

#input-form h2 {
    padding-bottom: 10px;
    color: #fb8c00;
}

.form-group.formtwo {
    display: flex;
    justify-content: space-around;
}

.form-group.formthree {
    width: 70px;
    margin: 0 auto;
}

#btn-submit {
    margin-top: 10px;
    margin-right: 10px;
}

#btn-reset {
    margin-top: 10px;
    margin-right: 10px;
}

#dates {
    margin-bottom: 0;
    flex-basis: 30%;
    margin-left: 40px;
    margin-right: 40px;
}

#input-form label {
    color: black;
    font-size: 1em;
}


/**********RESULTS/MAP SECTION**********/

.map-box {
    width: 500px;
    height: 500px;
    display: flex;
}

.map-card {
    width: 450px;
    height: 450px;
    padding: 2px;
    display: flex;
}



/**********ABOUT-CONTACT SECTION**********/

.section-contact {
    width: 100%;
    margin: 5px 10px;
    padding: 0;
}

.section-icons .fa-4x {
    margin: 10px 5px;
    font-size: 2em;
    color: orange;
}

.section-follow,
.section-results {
    height: 80px;
}

.materialboxed {
    display: inline-block;
}

.section-icons img {
    width: 140px;
    height: 140px;
}

.section-contact {
    margin: 0 auto;
    width: 40%;
}



/************MISC***************/

#top span {
    position: absolute;
    top: 0;
    left: 0;
}

#map {
    height: 100%;
}

.flow-text{
    font-size: 1.2em;
}



/****************MEDIA QUERIES***************/

@media screen and (min-width: 360px){ 

}